- if user_signed_in?
  %p
    signed in with #{current_user.email}. 
    = link_to "sign out", destroy_user_session_path
    = link_to "edit your account", profile_edit_path if current_user.present?
- else
  %p
    not signed in.  
    = link_to "create your account", new_user_registration_path
    or 
    = link_to "login with your email and password", new_user_session_path
    = link_to "(forgot it?)", new_user_password_path