<p><%= link_to "Home", "/" %></p>

<h1>Edit your profile</h1>
<%= form_for(@user, :url => profile_update_url, :method => "put") do |f| %>
  <p>
    <%= f.label :email %> 
    <%= f.text_field :email %>
  </p>
    
  <p><em>the important stuff</em></p>
  
  <p>
    <%= f.label :campfire_subdomain %> 
    <%= f.text_field :campfire_subdomain %>
  </p>

  <p>
    <%= f.label :campfire_api_key %> 
    <%= f.text_field :campfire_api_key %>
  </p>

  <p><em>optional</em></p>

  <p>
    <%= f.label :campfire_room %> 
    <%= f.text_field :campfire_room %>
  </p>
  
  <p><em>resetting your password will log you out</em></p>
  
  <p>
    <%= link_to "create a new password", new_user_password_path %> 
  </p>
    
  <p>
    <%= f.submit %>
  </p>
  
<% end %>